@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
  --lightblue: #AEDCE9;
  --darkerblue: #1891D0;
  --warning: #F4C925;
  --width: 71px;
  --height: 71px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #145396;
  font-size: 100%;
  font-family: 'Carter One', cursive;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin: 8px 0;
}

button {
  color: #140200;
  text-transform: uppercase;
  font-family: 'Carter One', cursive;
}

.info {
  color: #fff;
  width: 1000px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.choices {
  color: #fff;
  width: 800px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.choices>span {
  font-size: 0.75rem;
  transform: translateY(3px);
}

.choices input+span {
  font-size: 0.75rem;
  margin-left: 8px;
  transform: translateY(3px);
}

.output {
  width: 200px;
}

.flips {
  width: 200px;
}

.grid {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  padding: 8px;
  width: 1000px;
}

.card {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  width: var(--width);
  height: var(--height);
}

.btn_newGame {
  padding: 0 16px;
  cursor: pointer;
}

.feedback {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: var(--warning);
  width: 450px;
  margin: 8px auto 0 auto;
  height: 16px;
  text-align: center;
}

.card-face {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
  box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  width: var(--width);
  height: var(--height);
}

.card-back {
  background-color: black;
  transform: rotateY(0);
}

.card-front {
  background-color: #FFBB89;
  transform: rotateY(180deg);
}

.card-back img,
.card-front img {
  width: var(--width);
  height: var(--height);
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

/* Range slider number of cards chosen*/
input[type="range"] {
  -webkit-appearance: none;
  height: 31px;
  margin: 10px 0;
  width: 350px;
  background-color: transparent;
}

input[type="range"]::before {
  background-color: var(--darkerblue);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  -webkit-transform: translate(1px, 7px);
  transform: translate(1px, 7px);
  width: 16px;
}

input[type="range"]::after {
  background-color: var(--darkerblue);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  -webkit-transform: translate(-1px, 7px);
  transform: translate(-1px, 7px);
  width: 16px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--darkerblue);
  border-radius: 1px;
  border: 0px solid #000;
  -webkit-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000;
  cursor: pointer;
  height: 5px;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--darkerblue);
  border-radius: 24px;
  border: 1px solid var(--darkerblue);
  -webkit-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000;
  cursor: pointer;
  height: 24px;
  margin-top: -10px;
  width: 24px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--darkerblue);
}

input[type="range"]::-moz-range-track {
  background: var(--darkerblue);
  border-radius: 1px;
  border: 0px solid #000;
  box-shadow: 0px 0px 0px #000;
  cursor: pointer;
  height: 5px;
  width: 100%;
}

input[type="range"]::-moz-range-thumb {
  background: var(--darkerblue);
  border-radius: 24px;
  border: 1px solid var(--darkerblue);
  box-shadow: 0px 0px 0px #000;
  cursor: pointer;
  height: 24px;
  width: 24px;
}