@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
  --lightblue: #AEDCE9;
  --darkerblue: #1891D0;
  --warning: #F4C925;
  --width: 71px; 
  --height: 71px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #145396;
  font-size: 100%;
  font-family: 'Carter One', cursive;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin: 8px 0;
}

button {
  color: #140200;
  text-transform: uppercase;
  font-family: 'Carter One', cursive;
}

.info {
  color: #fff;
  width: 1000px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.output {
  width: 200px;
}

.flips {
  width: 200px;
}

.grid {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  padding: 8px;
  width: 1000px;
}

.card {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  width: var(--width);
  height: var(--height);
}

.btn_newGame {
  padding: 0 16px;
  cursor: pointer;
}

.feedback {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: var(--warning);
  width: 900px;
  margin: 8px auto 0 auto;
  height: 16px;
  text-align: center;
}

.card-face {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
  box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  width: var(--width);
  height: var(--height);
}

.card-back {
  background-color: black;
  transform: rotateY(0);
}

.card-front {
  background-color: #FFBB89;
  transform: rotateY(180deg);
}

.card-back img,
.card-front img {
  width: var(--width);
  height: var(--height);
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}