@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --darkgrey1: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Mobile first */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--darkgrey1);
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, sans-serif;
  line-height: 1.5rem;
}

.pageUp {
  position: fixed;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  display: block;
  font-size: 5rem;
  z-index: 1;
}

.pageUp a {
  color: #333;
}

.pageUp:hover {
  opacity: 0.8;
}

#navbar {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--darkgrey1);
  height: 300px;
  background-color: #fff;
  min-width: 290px;
}

#navbar h1 {
  color: #000;
  font-size: 1.7rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 32px;
  text-align: center;
  background-color: #fff;
}

#navbar ul {
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  padding: 16px 0 16px 32px;
  border-top: 1px solid black;
  cursor: pointer;
}

#navbar li:hover {
  background-color: silver;
}

#navbar li:hover a {
  color: #000;
}

#navbar a {
  color: var(--darkgrey1);
  text-decoration: none;
  display: block;
}

/* Main document */
#main-doc {
  width: 100%;
  padding: 24px;
}

#main-doc h2 {
  color: #000;
  font-size: 1.75rem;
  margin: 24px 0 8px 0;
}

#main-doc p {
  padding: 8px;
  margin: 8px 0;
}

#main-doc ul {
  padding: 0 32px;
}

#main-doc ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 16px 0;
}

#main-doc li ul li {
  list-style-type: circle;
  list-style-position: inside;
  margin: 16px 0;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  body {
    flex-direction: row;
  }

  #navbar {
    height: 100vh;
  }
}
